# Проверка mime типов, которые обычно поддерживаются мобильными устройствами
RewriteCond %{HTTP_ACCEPT} "text\/vnd\.wap\.wml|application\/vnd\.wap\.xhtml\+xml" [NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ http://gozerent.ru/mobile%{REQUEST_URI} [R,L] 